* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 80px;
    border: 2px solid #5e9e04;
    border-radius: 3px;
    background-color: #5e9e04;
}

.header {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(147, 209, 118, 0.3)), url('./img/banner-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    position: sticky;
    top: 20px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navbar ul li {
    padding-right: 30px;
    color: rgb(192, 192, 192);
}

.kvalitet {
    color: white;
    text-align: center;
    margin-top: 150px;
}

.kvalitet h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.kvalitet p {
    margin-bottom: 60px;
}

.green-btn {
    color: white;
    padding: 13px 16px;
    border:0;
    outline:0;
    border-radius: 4px;
    background-color: #67af04
}

.green-btn:hover {
    cursor: pointer;
    border:0;
    outline:0;
    background-color: #5f9703;
}

.green-btn:focus {
    outline:none
}

.om-os {
    width: 100%;
    padding: 100px 60px;
    background-color: #f6f6f6
}

.ydelser-beskrivning {
    color: rgb(80, 80, 80);
    width: 46%;
    margin-right: 2%;
}

.ydelser-beskrivning ul li {
    margin-bottom: 5px;
    font-size: 16px;
    list-style: none;
}

.ydelser-beskrivning h2 {
    font-size: 36px;
    color: rgb(31, 31, 31);
}

.ydelser-beskrivning h2 em {
    color: #7bab51;
    font-style: normal;
}

.ydelser-beskrivning hr {
    margin: 15px 0 50px 0;
}

.ydelser-beskrivning ul {
    margin: 15px 0 20px 0;
}

.ydelser-beskrivning input {
    width: 150px;
    margin-top: 45px;
}

.ydelser-showcase {
    justify-content: right;
    width: 46%;
    margin-left: 2%;
}

.ydelser-showcase-1 {
    margin-right: 40px;
}

.ydelser-showcase-1 img, .ydelser-showcase-2 img {
    width: 300px;
    margin-bottom: 15px;
}

.ydelser-showcase-1 h2, .ydelser-showcase-2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}

.ydelser-showcase-1 p, .ydelser-showcase-2 p {
    width: 300px;
    color: rgb(80, 80, 80);
}

.ydelser {
    background-color: #68b006;
    align-items: center;
    text-align: center;
    padding: 100px 25px;
}

.ydelser-text {
    color: #f6f6f6;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.ydelser-text hr {
    margin: 15px 0;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}

.ydelser-text p {
    color: rgb(228, 228, 228);
}

.ydelse-container {
    justify-content: center;
    align-items: start;
    color: rgb(228, 228, 228);
    gap: 50px;
}

.ydelser-list {
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;
    margin: 0 50px
}

.ydelser-list img {
    border-radius: 50%;
    border: 8px solid #73b814;
    width: 150%;
}

.gallery {
    background-color: #f6f6f6;
}

.gallery-text {
    text-align: center;
    margin-bottom: 80px;
}

.gallery-text h2 {
    margin-top: 80px;
    color: rgb(31, 31, 31);
}

.gallery-text hr {
    margin: 15px 0 15px calc(50% - 40px);
}

.gallery-text p {
    color: rgb(104, 104, 104);
}

.gallery-btn {
    padding-bottom: 100px;
}

.gallery-btn ul {
    justify-content: center;
    align-items: center;
}

.gallery-btn ul li {
    list-style: none;
    margin: 0 15px;
}

.gallery-btn ul li button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: black;
}

.gallery-btn ul li button:hover {
    cursor: pointer;
}

.gallery-btn ul li button:focus {
    color: white;
    background-color: #67af04
}

.kundeudtalelser {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 60px;
    color: white;
    background-image: linear-gradient(to bottom, rgba(103, 175, 4, 0.8), rgba(103, 175, 4, 0.8)), url('./img/udtalelser-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.kunde-text {
    text-align: center;
}

.kunde-text hr {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    margin: 0 0 80px calc(50% - 40px);
}

.kunde-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.kunde-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.kundeudtalelser-btn ul li {
    list-style: none;
}

.kundeudtalelser-btn ul li button {
    background-color: rgba(246, 246, 246, 0.6);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    margin: 0 8px;
}

.kundeudtalelser-btn ul li button:hover {
    cursor: pointer;
}

.kundeudtalelser-btn ul li button:focus {
    background-color: #f6f6f6;
}

.kontakt {
    background-color: #f6f6f6;
    padding: 100px 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.kontakt-info {
    margin-top: 50px;
}

.kontakt-text h2 {
    font-size: 36px;
}

.kontakt-text p {
    font-size: 18px;
    margin-bottom: 40px;
    color: rgb(104, 104, 104);
}

.kontakt-text hr {
    margin: 20px 0 20px calc(50% - 40px);
}

.kontakt-info ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-left: 100px;
}

.kontakt-info ul li hr{
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}

.kontakt-info ul li p{
    color: rgb(104, 104, 104);
}

.kontakt-form {
    margin-top: 80px;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kontakt-form h2 {
    font-size: 20px;
}

.kontakt-form form{
    width: 100%;
    height: 50%;
}

.input-fields {
    margin: 20px 0 10px 0;
}

.input-fields input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    padding: 0 15px;
}

.kontakt-form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(221, 221, 221);
    padding: 15px 15px;
    margin-bottom: 30px;
}

#name {
    margin-right: 25px;
}

#submit {
    width: 20%;
    height: 40px;
    margin-left: calc(50% - 10%);
    background-color: #67af04;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 125px;
    background-color: #333333;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin: 0 25px 15px 25px;
    background-color: #444444;
    border: 10px solid #444444;
    border-radius: 50%;
}