* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 80px;
    border: 2px solid #5e9e04;
    border-radius: 3px;
    background-color: #5e9e04;
}

.header {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(147, 209, 118, 0.3)), url('./img/banner-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    position: sticky;
    top: 20px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navbar ul li {
    padding-right: 30px;
    color: rgb(192, 192, 192);
}

.kvalitet {
    color: white;
    text-align: center;
    margin-top: 150px;
}

.kvalitet h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.kvalitet p {
    margin-bottom: 60px;
}

.green-btn {
    color: white;
    padding: 13px 16px;
    border:0;
    outline:0;
    border-radius: 4px;
    background-color: #67af04
}

.green-btn:hover {
    cursor: pointer;
    border:0;
    outline:0;
    background-color: #5f9703;
}

.green-btn:focus {
    outline:none
}

.om-os {
    width: 100%;
    padding: 100px 60px;
    background-color: #f6f6f6
}

.ydelser-beskrivning {
    color: rgb(80, 80, 80);
    width: 46%;
    margin-right: 2%;
}

.ydelser-beskrivning ul li {
    margin-bottom: 5px;
    font-size: 16px;
    list-style: none;
}

.ydelser-beskrivning h2 {
    font-size: 36px;
    color: rgb(31, 31, 31);
}

.ydelser-beskrivning h2 em {
    color: #7bab51;
    font-style: normal;
}

.ydelser-beskrivning hr {
    margin: 15px 0 50px 0;
}

.ydelser-beskrivning ul {
    margin: 15px 0 20px 0;
}

.ydelser-beskrivning input {
    width: 150px;
    margin-top: 45px;
}

.ydelser-showcase {
    justify-content: right;
    width: 46%;
    margin-left: 2%;
}

.ydelser-showcase-1 {
    margin-right: 40px;
}

.ydelser-showcase-1 img, .ydelser-showcase-2 img {
    width: 300px;
    margin-bottom: 15px;
}

.ydelser-showcase-1 h2, .ydelser-showcase-2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(31, 31, 31);
}

.ydelser-showcase-1 p, .ydelser-showcase-2 p {
    width: 300px;
    color: rgb(80, 80, 80);
}

.ydelser {
    background-color: #68b006;
    align-items: center;
    text-align: center;
    padding: 100px 25px;
}

.ydelser-text {
    color: #f6f6f6;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.ydelser-text hr {
    margin: 15px 0;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}

.ydelser-text p {
    color: rgb(228, 228, 228);
}

.ydelse-container {
    justify-content: center;
    align-items: start;
    color: rgb(228, 228, 228);
    gap: 50px;
}

.ydelser-list {
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;
    margin: 0 50px
}

.ydelser-list img {
    border-radius: 50%;
    border: 8px solid #73b814;
    width: 150px;
}